@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800;900&display=swap');

body {
    background-color: rgb(0, 0, 0);
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: center;
    height: 40px;
    margin-bottom: 20px;
}

#join {
    display: block;
    width: 15%;
    height: 100%;
    font-weight: 900;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(
      to right,
      #f5ce62,
      #e43603,
      #fa7199,
      #e85a19
    );
}
  
#join:active {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
  
#join:focus {
    outline: none;
}

#room-name {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 15px;
    color: rgb(19, 19, 19);
    display: block;
    text-align: center;
    width: 40%;
    margin-right: 20px;
    border: none;
    border-radius: 50px;
    outline: none;
    box-sizing: border-box;
    transition: 0.3s;
}

footer {
    display: flex;
    width: 100%;
    height: 250px;
    margin: 50px auto 0 auto;
}

#memo-space {
    display: block;
    width: 49%;
    margin-right: 1%;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    color: rgb(32, 32, 32);
    border: none;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    resize: none;
}

#button-area {
    width: 50%;
    display: flex;
    justify-content: left;
    flex-direction: row-reverse;
    overflow: hidden;
}

#button-area button {
    display: block;
    min-width: calc(100% / 5 - 1%);
    max-width: calc(100% / 5 - 1%);
    margin-left: 1%;
    height: 100%;
    font-weight: 900;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    text-align:center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#remote-media-area {
    background-color: black;
}

#void-button {
    border: none;
    border-radius: 5px;
    background-color: #353535;
}

.user-button-before {
    border: none;
    background-size: 300% 100%;
    border-radius: 5px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(
      to right,
      #33DAFF,
      #33C2FF,
      #339DFF,
      #3378FF
    );
}
  
.user-button-before:active {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.user-button-before:focus {
    outline: none;
}

.user-button-after {
    border: none;
    background-size: 300% 100%;
    border-radius: 5px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-color: #e64c25;
}


#unity-container.unity-desktop { 
    width: 100%;
}
#unity-container.unity-mobile { 
    position: fixed; 
    width: 100%; 
    height: 100% 
}

.unity-mobile #unity-canvas { 
    width: 100%; 
    height: 100% 
}

#unity-loading-bar { 
    position: absolute; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
    display: none 
}
#unity-logo { 
    width: 154px;
    height: 130px; 
    background: url('unity-logo-dark.png') no-repeat center 
}
#unity-progress-bar-empty { 
    width: 141px; 
    height: 18px; 
    margin-top: 10px; 
    margin-left: 6.5px; 
    background: url('progress-bar-empty-dark.png') no-repeat center 
}
#unity-progress-bar-full { 
    width: 0%; 
    height: 18px; 
    margin-top: 10px; 
    background: url('progress-bar-full-dark.png') no-repeat center 
}
#unity-footer { 
    position: relative;
}
.unity-mobile #unity-footer { 
    display: none 
}
#unity-webgl-logo { 
    float:left; 
    width: 204px; 
    height: 38px; 
    background: url('webgl-logo.png') no-repeat center 
}
#unity-build-title { 
    float: right; 
    margin-right: 10px; 
    line-height: 38px; 
    font-family: arial; 
    font-size: 18px 
}
#unity-fullscreen-button { 
    cursor:pointer; 
    float: right; 
    width: 38px; 
    height: 38px; 
    background: url('fullscreen-button.png') no-repeat center 
}
#unity-warning { 
    position: absolute; 
    left: 50%; 
    top: 5%; 
    transform: translate(-50%); 
    background: white; 
    padding: 10px; 
    display: none 
}
